<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}. Made by <a
			href="https://github.com/mrozyyev"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> M. Rozyyev</span> using  this 
			 	
				<a href="https://astro.build/themes/details/astro-fe-portfolio/"><span class="text-orange">starter</span> </a> 
			
		</a>
		Assets designed by <a href="https://popsy.co" target="_blank" rel="noopener"
			><span class="text-orange">popsy.co</span></a
		>
	</p>
</footer>
