<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <span
    class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
    ><svg
      id="svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="48"
      height="48"
      viewBox="0, 0, 400,400"
      ><g id="svgg"
        ><path
          class="dark:fill-white"
          id="path0"
          d="M97.826 105.114 C 89.087 109.127,89.565 103.549,89.565 201.474 L 89.565 287.036 91.700 289.170 C 94.449 291.919,106.268 292.323,110.518 289.813 L 113.043 288.321 113.043 209.542 C 113.043 119.072,112.273 126.952,121.121 126.961 C 130.884 126.972,130.179 126.437,161.347 157.472 C 189.325 185.330,191.554 187.228,193.739 185.043 C 195.318 183.465,195.176 159.206,193.575 156.933 C 190.874 153.097,143.368 106.436,140.715 105.013 C 136.372 102.684,102.948 102.762,97.826 105.114 M213.832 105.482 C 206.436 109.350,206.959 102.074,206.958 200.980 C 206.957 281.264,207.075 288.581,208.392 289.676 C 211.329 292.117,225.284 291.813,228.051 289.249 L 230.435 287.040 230.435 259.265 C 230.435 230.535,230.446 230.435,233.726 230.435 C 234.023 230.435,247.588 243.703,263.872 259.920 C 297.462 293.373,294.385 291.292,310.275 291.299 C 320.545 291.305,323.478 290.559,323.478 287.945 C 323.478 287.051,307.878 270.785,286.885 249.792 C 253.487 216.393,250.376 213.039,251.263 211.381 C 252.220 209.594,252.707 209.565,281.826 209.565 C 327.578 209.565,323.611 214.710,323.284 155.800 C 323.063 115.825,322.922 112.221,321.520 110.672 C 320.682 109.747,320.229 108.756,320.514 108.472 C 320.799 108.187,318.903 106.947,316.302 105.716 L 311.571 103.478 264.618 103.478 L 217.665 103.478 213.832 105.482 M298.261 128.696 C 300.083 130.518,301.039 181.367,299.302 184.101 C 298.790 184.906,290.566 185.113,264.750 184.970 L 230.870 184.783 230.639 156.957 C 230.428 131.568,230.538 129.035,231.892 128.043 C 234.774 125.932,296.100 126.535,298.261 128.696 "
          fill="#000"></path></g
      ></svg
    ></span
  >
  <!-- Logo Text -->
  <span class="-translate-y-0.5"> mrozyyev</span>
</a>
