---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	// {
	// 	title: 'Skills',
	// 	path: '#skills',
	// },
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
---

<header
	data-testId="header"
	class="sticky top-0 z-50 my-5 flex flex-col items-center justify-between rounded-md bg-white px-5 py-2 font-sans text-white shadow-lg dark:bg-black lg:flex-row"
>
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<a href="/src/assets/cv.pdf">
				<Button size={'sm'} name="Download CV">Download CV</Button>
			</a>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-4">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="menu-item hover:text-orange dark:hover:text-orange flex py-2 text-black dark:text-white lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
