---
---

<section
	data-testid="skills"
	id="skills"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Skills & experience</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<h2 class="text-center text-black dark:text-white">
			A PROBLEM IS A CHANCE FOR YOU TO DO YOUR BEST.
		</h2>
		<div class="flex gap-4 ">
			
		</div>
	</div>
</section>
